@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><strong>
    1. Our address finder web application respects your privacy and takes the security of your personal information seriously.<br />

    2. We do not store or share any personally identifiable information such as your name, address, or country.<br />

    3. Any location data provided by you is used solely for the purpose of finding and displaying addresses.<br />
    </strong>
</p>
